# Node modules
node_modules/

# Build output
dist/
out-tsc/

# Angular cache
.angular/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env

# OS files
.DS_Store
Thumbs.db
